<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Proyecto">
        <wb-resource deploy-path="/" source-path="/Web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="Proyecto"/>
        <property name="java-output-path" value="/Proyecto/bin"/>
    </wb-module>
</project-modules>
